/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Import Bootstrap styles
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  margin-top: 2.5%;
}

.text-center {
  padding: 1.5%;
}

.icon {
  margin-right: 0;
}

.navbar-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-div a {
  height: 70%;
  margin: 0 auto;
  margin-top: 1%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  min-height: 100%;
}

.non-scrolling-page-div {
  overflow-y: auto;
}

.secondary-div {
  border: 1px solid blue;
  margin: 2%;
  min-width: 35vw;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 2%;
  width: 50%;
}

.component-header {  
  position: fixed;
  background-color: white;
  top: 2.3em;
  width: 100%;
  padding: .5em;
  z-index: 1000;
}

.list-div {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  top: 4em;
}

.list-item-div {
  height: 100%;
}

.list-item-div div {
  height: 100%;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-title {
  width: 100%;
}

.list-item-body {
  display: flex;
  flex-direction: row;
}

.reporter-avatar {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 35px;
  }

  .main-div {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2%;
    justify-content: center;
  }

  .main-headers {
    padding-bottom: 5%;
  }
  
  .navbar-div div {
    display: none;
  }
}

// @media screen and (min-width: 1000px) {}

@media screen and (min-width: 1000px) {
  .navbar-brand {
    cursor: pointer;
  }

  .non-scrolling-page-div {
    overflow-y: hidden;
  }
  
  .button-div {
    display: flex;
    justify-content: center;
    padding: 1%;
  }

  .button-div button {
    min-width: 200px;
    min-height: 1em;
  }
  
  .navbar-div div {
    cursor: auto;
    display: block;
  }

  .main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 0 auto;
    padding: 1.5%;
    justify-content: space-between;
    min-width: 75vw;
  }

  .main-headers {
    display: flex;
    flex-direction: column;
    max-height: 100px;
  }

  .user-profile-div {
    display: flex;
    flex-direction: row;
  }

  .button-div {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 0 auto;
    max-height: 150px;
  }

  .button-div button {
    min-width: 30%;
    max-height: 100%;
    margin: 10px;
  }

  .user-skills-div,
  .user-tickets-div {
    margin: 0 auto;
  }

  .search form {
    display: flex;
    grid-template-columns: auto 1em;
    margin: 0 auto;
    margin-bottom: 2.5%;
    max-width: 50%;
  }

  .list-div {
    border: 1px solid white;
    max-width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap: 5px;
  }

  .card-body {
    height: 50%;
    width: 100%;
  }

  .reporter-avatar {
    max-width: 5em;
  }
}
